<h1>Cookie Policy</h1>

<h2>What are cookies?</h2>
<p>Cookies are small text files containing a string of characters that can be placed on your computer or mobile device
    that uniquely identify your browser or device.</p>

<p><a href="https://www.cookiesandyou.com/" target="_blank">Learn about cookies.</a></p>

<h2>How does OpenAgua use cookies?</h2>

<p>OpenAgua uses a single <b>authentication cookie</b>. This cookie allows you to log in to secure areas on the site, and stay logged in.</p>

<p>OpenAgua does not use third-party cookies.</p>

<h2>How long will cookies stay on my device?</h2>

<p>The cookie OpenAgua uses is “persistent”, and will stay on your computer or mobile device until they expire or are
    deleted.</p>

<h2>How to control and delete cookies</h2>

<p>Managing cookies is unique to each browser. To find specific instructions for your browser, do a simple web search
    (e.g., "how to delete cookies in chrome").</p>

<p>Please note that if you disable cookies entirely, you will not be able to log in.</p>
