<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ url_for('base.index') }}">{{config["APP_NAME"]}}</a>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-index" aria-expanded="false" aria-controls="navbar">
        <i class="fas fa-bars"></i>
      </button>
    </div>
    <div class="navbar-collapse collapse" id="navbar-index">
      <ul class="nav navbar-nav navbar-right">
      </ul>
    </div>
  </div>
</nav>
