{% extends 'security/public_base.html' %}

{% block content %}

{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% include "security/_messages.html" %}
<h1>Reset password</h1>
<form action="{{ url_for_security('forgot_password') }}" method="POST" name="forgot_password_form">
  {{ forgot_password_form.hidden_tag() }}
  {{ render_field_with_errors(forgot_password_form.email, class_="form-control") }}
  {{ render_field(forgot_password_form.submit, class_="btn btn-primary") }}
</form>

<a href="{{ url_for_security('login') }}{% if 'next' in request.args %}?next={{ request.args.next|urlencode }}{% endif %}">Log in</a>
|&nbsp;<a href="{{ url_for_security('register') }}{% if 'next' in request.args %}?next={{ request.args.next|urlencode }}{% endif %}">Register</a>

{% if security.confirmable %}
|&nbsp;<a href="{{ url_for_security('send_confirmation') }}">Confirm account</a>
{% endif %}

{% endblock %}